html {
  --font-family: 'Consolas', 'Courier New', Courier, monospace;
  --primary-color: #242424;
  --primary-color-alt: white;
  --secondary-color: #404040;
  --secondary-color-alt: white;

  box-sizing: content-box;
  font-family: var(--font-family);
  background: var(--primary-color);
  color: var(--primary-color-alt);
}

.app {
  max-width: 48rem;
  margin: 0 auto;
}