.remote-display__panel {
  border-collapse: collapse;
  margin: 0 auto;
  border: none;
}

.remote-display .remote-display__pixel {
  padding: 1rem;
  border: 1px solid #fff;
}

.remote-display .remote-display__message {
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
}