.pixel-drawer {
  text-align: center;
}

.pixel-drawer__screen {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.pixel-drawer__pixel {
  border: 1px solid white;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 30px;
}

.pixel-drawer__code {
  background: #3d3d3d;
  text-align: left;
  padding: 1rem;
}